/* start glopal */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  --main-color: rgba(174, 59, 205, 0.844);
  --secondary-color: rgba(15, 116, 143, 0.8);
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* start header  */
header {
  width: 100%;
  position: absolute;
  z-index: 66;
}
header .container {
  width: 90%;
  /* background-color: var(--main-color); */
  min-height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .container i {
  color: var(--main-color);
  border-radius: 50%;
  width: 40px;
  height: 45px;
  font-size: xx-large;
  text-align: center;
  padding-top: 5px;
}
header .container button {
  border-radius: 50%;
  border: none;
  width: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1.5px;
  background-color: white;
  bottom: 0;
  width: calc(100% - 32px);
  left: 15px;
}

header .logo p {
  color: var(--main-color);
  font-weight: 38px;
  text-decoration: none;
  font-size: 38px;
}
/* sart hero  */
.hero {
  height: 100vh;
  background-image: url(../images/alexander-grey-2L50Or-nJDw-unsplash.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
}
.hero button {
  width: 60%;
  height: 180px;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--main-color);
  position: absolute;
  z-index: 3;
}
.hero button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(174, 64, 202, 0.652);
  transition: 1s;
}
.button:active {
  transform: scale(0.95);
}
.hero button i {
  font-size: 80px;
  color: #f6f6f6;
}
.container-slide {
  /* width: 1120px; */
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slider-wrapper {
  margin: 0 30px 20px;
  padding: 20px 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Edu NSW ACT Hand Pre", cursive;
}
.card {
  background: var(--main-color);
  border-radius: 20px;
  box-shadow: 0 0 20px #00000030;
  height: 70%;
}
.content-img,
.content-box {
  padding: 30px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-img {
  position: relative;
  row-gap: 5px;
}

.card-img {
  width: 70%;
  height: 230px;
  position: relative;
  border-radius: 100px;
  /* background: #fff; */
  /* padding: 3px; */
}
.card-img .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.content-box .username {
  font-size: 26px;
  font-weight: 600;
  color: #134ca9;
  padding-bottom: 6px;
  z-index: 1;
}
.content-box .user-profession {
  font-size: 16px;
  font-weight: 500;
  color: #09003a;
}
.social-icon {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.social-icon li {
  list-style: none;
}

.social-icon li a:hover::before {
  width: 100%;
}

.btn:hover::before {
  width: 100%;
}
.slider-wrapper .swiper-pagination-bullet {
  background: #00039d;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}
.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.slider-wrapper .swiper-slide-button {
  color: #00039d;
  margin-top: -40px;
  transition: 0.5s;
}
.slider-wrapper .swiper-slide-button:hover {
  color: #ff008c;
}
/* Responsive Code */
@media screen and (max-width: 768px) {
  .slider-wrapper {
    margin: 0 20px 20px;
    padding: 20px 30px;
  }
}
